@font-face {
    font-family: "digital-7";
    src: url("digital-7/digital-7 (mono).ttf");
}

#html-body {
    margin:0;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 1.5rem;
    background-color:#264564;
    color: white;
    font-family: monospace;
}
#bottom-text {
    opacity: 0.3;
}
.texture-overlay {
    pointer-events: none;
    /* Image courtesy of toptal subtle patterns. */
    background-image: url("./hip-square.png");
    mix-blend-mode: color-burn;
}
#hex-disp {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-gap: 0.06em;
    font-size: 9em;
    font-family: "digital-7";
}
#hex-disp > *{
    padding: 0.0em 0.01em 0 0.05em;
    border-radius: 0.06em;
    border: 0.05em double #00000080;
    background-color: #000000a1;
    color: #ff2382;
    text-shadow: -2px 2px #e8c8da, -0.04em 0.05em black, -0.04em 0.05em 3px red;
    box-shadow: 0 0 20px -5px #0b0d15;
}
